
<content>
<div class="contents clearfix">

  <div class="rank">
   <h3>日本語学校総合評価ランキング</h3>
   <p class="otherranks"> <a href="">ランキングの続きを見る</a>
   </p>
   <p>その他ランキング<p>

  </div>
  <div class="searchbar">
   <h3>名前で検索</h3>
   <form>
    <input type="text" placeholder="日本語学校の名前を入力してください"><br>
    <input type="submit" value="検索">
   </form>
  </div>

  <div class="map">
   <h3>地図で検索する</h3>
   <p><img  class="mapimg" src="図1.png" alt=""></p>
  </div>

  <div class="column">
   <h3>留学コラム</h3>
  </div>
</div>
</content>

