

<div class="searchbar">
   <h1 class="bar_sentence">クチコミでより良い日本語学校を選択</h1>

  <%= form_tag(search_ls_ranks_path, method: :get) do %>
    <input class="search__query" name="name" placeholder="日本語学校の名前で検索" type="text" value=""><input class="btn-search" value="検索" type="submit"><i class="icon-search"></i></input></input>
  <% end %>
    <h3><a href="ls_ranks/show_all">日本語学校一覧</a></h3>
  </div>


  <!-- <div class="prefer">
    <h3>人気な日本語学校</h3>
  </div> -->


   <div class="rank">日本語学校総合評価ランキング</div>
   <div class="homerank">
      <% @schools.each do |school| %>
        <%= link_to "#{school.name}", school_info_path(school) %>
        <% scores = school.scores.where(school_info_id: school.id) %>
        <% sum = 0 %>

        <% scores.each do |score| %>
          <% sum = sum + score.total.to_i %>
        <% end %>

        <% if scores.size != nil || scores.size != 0 %>
          平均トータルスコア
          <%= sum / scores.size %>
        <% else %>
          まだ平均トータルスコアはありません
        <% end %>

        <br>

      <% end %>
   </div>


   <div class="nextranks"> <a href="ls_ranks/show">ランキングの続きを見る</a>
   </div>

<!--
   <h3 class="otherranks"> その他ランキング<h3>
    Total -> @total Equipment -> @equipment Location -->



<!--
   <h3>地図で探す</h3>
   <%= image_tag '図1.png', :size =>'800x500', class:'map'%> -->


<!--   <div class="column">
   <h3>留学コラム</h3>
  </div> -->
</div>



