

<div class="searchbar">
   <div class="bar_sentence">クチコミでより良い日本語学校を選択</div>
   <form>
    <input class="text" type="text" placeholder="日本語学校の名前を入力してください" size="800" height="400">
    <input  class="submit" type="submit" value="検索">
   </form>
  </div>


  <!-- <div class="prefer">
    <h3>人気な日本語学校</h3>
  </div> -->


   <div class="rank">日本語学校総合評価ランキング</div>
   <div class="nextranks"> <a href="ls_ranks/show">ランキングの続きを見る</a>
   </div>


   <h3 class="otherranks"> その他ランキング<h3>
    Total -> @total Equipment -> @equipment Location




   <h3>地図で探す</h3>
   <%= image_tag '図1.png', :size =>'800x500', class:'map'%>


  <div class="column">
   <h3>留学コラム</h3>
  </div>
</div>



