<div class="contents_row">
  <%= form_tag('/ls_ranks', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <input placeholder="Nickname" type="text" name="name"><br>
    <%= select :school_info, :name, @school_infos.map{|t| [t.name, t.id]} %><br>

    <input type="file", name="image", multiple=true><br>
    <textarea cols="30" name="comments" placeholder="text" rows="10"></textarea><br>
    <input type="submit" value="SENT">
  <% end %>
</div>
