body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

.navbar{
  display: inline-block;
  width:100%;
}

.grid-6{
  display: inline-block;
  float: right;
}
.grid-6 a{
  text-decoration: none;
}

.heading {
 display: inline-block;
 width: 100%;
 background-color: #1e508c;
}


.head_main a{
  float:left;
  display: inline;
  font-size: 32px;
  color:white;
  text-decoration: none;
}

.langbar {

  display: inline-block;
  float:right;

}

.langbar ul {
    list-style: none;
    width: 500px;
    padding: 0 0 0 40px;
    display: inline-block;
}

.langbar ul li {
  /*float: left;*/
  display: inline-block;
  padding:0 15px;
  color:white;
}

.heading-sentence {
  background-color: #1e508c;
  color:white;
  width:300px;
}


.visual{
  display: block;
  margin:auto;
}

.rank {
  background-color: white;
}

.nextranks {
 float: right;
}

.searchbar h3 {
  width:100px;
}

.searchbar {
background-color: white;
}


.map {
  display: block;
  margin:auto;
}


.column {

}



.main_footer {
  width:100%;
  float:left;
  list-style: none;
  color: #0079b2;
}

.main_footer li{
  float:left;
  padding:20px 20px;

}

.sub_footer {
   border-top: 1px solid #e3e3e3;
   text-align: center;
   padding: 20px 0;
   font-size: 12px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}





